@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family--body: var(--font-poppins), sans-serif;
}

body {
  font-family: var(--font-family--body);
}

.hero-wrapper {
  z-index: 1;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  position: relative;
}

.section-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  color: var(--color--text--black);
  border-bottom: 0 #e4ebf3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
  display: flex;
  position: relative;
  overflow: visible;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}